altgraph==0.17
attrs==19.3.0
Automat==20.2.0
bcoding==1.5
bitstring==3.1.6
certifi==2019.11.28
chardet==3.0.4
constantly==15.1.0
hexdump==3.3
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipaddress==1.0.23
macholib==1.14
meson==0.53.0
PyHamcrest==2.0.2
PyInstaller==3.6
python-magic==0.4.15
requests==2.23.0
six==1.14.0
tqdm==4.45.0
Twisted==22.4.0
urllib3==1.25.8
zope.interface==5.0.2
